body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
     background-color: black;  

}

.Gridwrapper {
    display: grid;
    grid-template-areas: 
    "di di di di di di di"
    "ar1 ar1 ar1 ar1 ar1 ar1 ar1"
    "ar2 ar2 ar2 ar2 ar2 ar2 ar2"
    "di2 di2 di2 di2 di2 di2 di2"
    "ar3 ar3 ar4 ar4 ar5 ar5 ar5"

    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.inneGridWrapper {
    grid-area: di;
    background-color: black;
    display:flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    color: rgb(214, 174, 113);
    height: 85px;
    font-size: 9px;
    letter-spacing: 2px;
    
    

}

h3 {
    margin-top: -223px;
    margin-left: 1050px;
    margin-bottom: 191px;
    font-size: 25px;
}

a:link {
    color: rgb(211, 185, 115);
    text-decoration: none;
    background-color: black;
}

a:visited {
    color:rgb(211, 185, 115);
  }

a:hover {
    color: rgb(255, 255, 255);
  }

  .article1 {
      grid-area: ar1;
      margin-top: -1px;
      height: 504px;
      display:flex;
      justify-content: center;
      align-items: center;
      border-style: solid;
      border-color: rgb(211, 185, 115);
      width: 750px;
      margin-left: 350px;
      margin-top: 20px;
      border-width: 6px;

  }

  .article2 {
    grid-area: ar2;
    width: 300px;
    margin-top: -438px;
    margin-left: 590px;
    margin-bottom: 434px;
    
    
}

.OmOss {
    grid-area: di2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    text-align-last: center;
    text-decoration: underline;
    color: rgb(168, 130, 73);
    background-color: black;
}


.Text {
    grid-area: di2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    text-align-last: center;  
    
}

.article3 {
    grid-area: ar3;
    width: 400px;
    display:flex;
    text-align: center;
    text-align-last: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-top: -24px;
    font-size: 12px;
    line-height: 30px;
    color: rgb(214, 174, 113);
    background-color: black;   
}

.article4 {
    grid-area: ar4;
    width: 400px;
    display:flex;
    text-align: center;
    text-align-last: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 520px;
    margin-top: -239px;
    font-size: 12px;
    line-height: 30px;
    color: rgb(214, 174, 113);
    background-color: black;
}

.article5 {
    grid-area: ar5;
    width: 400px;
    display:flex;
    text-align: center;
    text-align-last: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 1000px;
    margin-top: -392px;
    font-size: 12px;
    line-height: 30px;
    color: rgb(214, 174, 113);
    background-color: black;
}